<header class="container--full page-header">
<div class="page-header--content">
<div class="logo">
<a href="/">Helen B</a>
</div>
<nav class="primary-nav">
<ul role="list" class="nav-list flex-group">
<li role="listitem"><a href="/writings/" class="{{ 'active' if tag == "blog-page"}}">writings</a></li>
<li role="listitem"><a href="/about/" class="{{ 'active' if tag == "about-page"}}">my story</a></li>
</ul>
</nav>
</div>
</header>
