<header>
      <h1 class="header-title">
      <a href="/">HelenB</a>
      </h1>
      <ul class="header__links">
        <li><a href="/about" class="header__link">my story</a>
        </li>
        <li><a href="/projects" class="header__link">my work</a>
        </li>
        <li><a href="/writings" class="header__link">writings</a>
        </li>
        <li><a href="/contact" class="header__link">contact me</a>
        </li>
      </ul>
    </header>